@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  background-color: whitesmoke;
}
img {
  height: 190px;
  width: 190px;
}
#nav-diseño {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #202020;

  padding: 1rem;
}

ul a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

#container {
  background-color: #202020;
  height: 500px;
  width: auto;
  display: flex;
  gap: 20px;
  width: 45%;
  flex-direction: col;
}

#portada-info {
  width: 900px;
}

#portada-img {
  margin-left: 300px;
  width: 400px;
}
#portada-img img {
  height: 400px;
  width: 400px;
}

#portada-info h1 {
  background-color: white;
  font-size: 20px;
}
