@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
* {
  margin: 6px;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  background: -webkit-linear-gradient(to right, #fe60e3, #202020 90%);
  background: -moz-linear-gradient(#fe60e3, #202020 90%);
  background: -o-linear-gradient(to right, #fe60e3, #202020 90%);
  background: linear-gradient(to right, #fe60e3, #202020 90%);
  background-attachment: fixed;
}

header {
  background: #202020;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 30px 0px 100px;
  /* position: fixed; */
  position: sticky;
  top: 0;
  z-index: 2; /* para que se vea siempre por encima */
}

.logo {
  height: 110px;
}

img {
  height: 100px;
  width: 100px;
}
#nav-diseño {
  left: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #202020;

  padding: 1rem;
}

ul a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

#container {
  /* background-color: #202020; */
  height: 500px;
  width: auto;
  display: flex;
  padding: 30px;
  margin-bottom: 30px;
  background-position: center;
}
#portada-info {
  width: 500px;
}

#portada-img {
  margin-left: 600px;
  width: 400px;
}

#portada-img img {
  height: 400px;
  width: 400px;
}

#portada-info h1 {
  /* color: white;
  font-size: 50px; */

  background: linear-gradient(to right, #fe60e3, #202020 90%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 40px;
}
#portada-info p {
  color: gray;
  font-size: 22px;
  margin-top: 45px;
}

#portada-info a {
  font-size: 15px;
  position: relative;
  top: 70px;
}

#boton-contacto {
  border: 1px solid #000000; /*anchura, estilo y color borde*/
  padding: 12px; /*espacio alrededor texto*/
  background-color: #000000; /*color botón*/
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  border-radius: 50px;
}

#boton-info {
  border: 4px solid #000000; /*anchura, estilo y color borde*/
  padding: 12px; /*espacio alrededor texto*/
  background-color: #ffffff; /*color botón*/
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  border-radius: 50px;
}

#info {
  background-color: #202020;
  height: 300px;
  width: auto;
  display: flex;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#texto-info p {
  color: grey;
  font-size: 15px;
  margin-top: 20px;
  align-items: center;
  display: flex;
}
#texto-info h4 {
  background: linear-gradient(to right, #fe60e3, #202020 90%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 20px;
}
